@using WSOA.Client.Shared.Fields.Inputs.Text.Components;
@inherits TextInputFieldComponent

<div class="mainInputField_mainContainer">
    <span>@Label</span>
    <InputText @bind-Value="InputValue"
                style="height: 50px; border-radius: 10px; border: 1px solid;" />
</div>
