.layout_container {
    background-color: #276347;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body_container {
    height: 100%;
    width: 100%;
}

.navMenu_container {
    height: 10%;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EDE8DF;
    margin: 8px;
    border-radius: 5px;
}
