@page "/home"
@page "/home/{SubSectionId:int}"
@using WSOA.Client.Pages.Home.Components;
@using WSOA.Client.Shared.Components.SeasonDataContainer
@using WSOA.Client.Shared.Loaders
@using WSOA.Shared.Dtos;
@using WSOA.Shared.Resources;
@using WSOA.Shared.ViewModel;
@inherits HomeComponent

@if (IsLoading)
{
    <CardCoinLoader />
}
else
{
    <div class="c-home__mainContainer">
        <div class="c-home__seasonInfo">
            <div class="c-home__seasonInfo-label">@($"Saison en cours : {SeasonResult.Season}")</div>
            <div class="c-home__seasonInfo-nbTournament">@($"Nombre de tournoi passé : {SeasonResult.NbTournamentPlayed}")</div>
        </div>
        <div class="c-home__seasonRank">
            <SeasonDataContainer
                RankResults=@SeasonResult.RankResults
            />
        </div>
    </div>
}
