@using WSOA.Client.Shared.Fields.Inputs.Password.Components;
@inherits PasswordInputFieldComponent

<div class="pwdInputField_mainContainer">
    <span class="pwdInputField_label">@Label</span>
    <input
        class="pwdInputField_input"
        type="password"
        @bind-value="InputValue"/>
</div>
