@page "/tournament/future/{SubSectionId:int}"
@using WSOA.Client.Pages.Tournament.Components;
@using WSOA.Client.Shared.Loaders
@using WSOA.Client.Shared.Prompts.Prompt
@using WSOA.Client.Shared.Resources;
@using WSOA.Shared.ViewModel;
@inherits FutureTournamentComponent

@if (IsLoading)
{
    <CardCoinLoader />
}
else
{
    <div class="container__main">
        <span class="title__main">@Description</span>
        @if (FutureTournamentDatasVM != null && FutureTournamentDatasVM.Any())
        {
            <CascadingValue Value="@TournamentService" Name="TournamentService">
                <CascadingValue Value="@NavigationManager" Name="NavigationManager">
                    <div class="container__datas">
                        @foreach (FutureTournamentDataViewModel vm in FutureTournamentDatasVM)
                        {
                            <FutureTournamentDataLine Data="vm" />
                        }
                    </div>
                </CascadingValue>
            </CascadingValue>
        }
        else
        {
            <div class="container__prompt">
                <LittlePromptCard LogoPath="images/emoji_surprised.png"
                          Message="@MainLabelResources.NO_FUTURE_TOURNAMENT" />
            </div>
        }
    </div>
}
