@page "/tournament/execute/{SubSectionId:int}"
@using WSOA.Client.Pages.Tournament.Components;
@using WSOA.Client.Shared.Loaders
@using WSOA.Shared.ViewModel;
@inherits PlayableTournamentsComponent

@if (IsLoading)
{
    <CardCoinLoader />
}
else
{
    <div class="container__main">
        <span class="title__main">@Description</span>
        @foreach (TournamentViewModel model in ViewModel.TournamentsVM)
        {
            <span>@model.TournamentId</span>
        }
    </div>
}
