@page "/tournament/inProgress/{SubSectionId:int}"
@using WSOA.Client.Pages.Tournament.Components;
@inherits TournamentInProgressComponent

<h3>@CurrentTime</h3>
<button type="button" onclick="@(() => OnActivateTimer.InvokeAsync())">Activate Timer</button>
