@using WSOA.Client.Shared.Prompts.Prompt.Components;
@inherits LittlePromptCardComponent

<div class="panel__container">
    <img class="panel__logo" src="@LogoPath" />
    <span class="panel__message">@Message</span>
</div>
