.promptForm_container {
    height: 29%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.promptForm_message {
    text-align: center;
}

.error {
    color: red;
}

.warning {
    color: darkorange;
}

.success {
    color: green;
}
