i {
    font-size: 40px;
}

i.selected {
    color: red;
    transition: 0.5s;
}

.highlighter {
    height: 3px;
    width: 100%;
}

.highlighter.selected {
    background-color: red;
    transition: 0.5s;
}

.subSections_container {
    display: none;
}

.subSections_container.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #EDE8DF;
    position: absolute;
    bottom: 10.5%;
    left: 0px;
    margin-left: 8px;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
