i {
    font-size: 35px;
}

i.selected {
    color: red;
    transition: 0.5s;
}

.highlighter {
    height: 3px;
    width: 100%;
    margin-bottom: 10px;
}

.highlighter.selected {
    background-color: red;
    transition: 0.5s;
}

.subSections_mainContainer {
    display: none;
}

.subSections_mainContainer.open {
    position: absolute;
    bottom: 12%;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 1;
}

.subSections_container {
    background-color: #EDE8DF;
    margin-left: 8px;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 6px -6px 2px 1px rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 375px) and (min-height: 667px) {
    .subSections_container.open {
        margin-left: 9px;
    }
}

@media only screen and (min-width: 414px) and (min-height: 896px) {
    .subSections_container.open {
        margin-left: 10px;
        bottom: 10.5%;
    }
}

@media only screen and (min-width: 390px) and (min-height: 844px) {
    .subSections_container.open {
        margin-left: 11px;
        bottom: 10.5%;
    }
}

@media only screen and (min-width: 360px) and (min-height: 740px) {
    .subSections_container.open {
        margin-left: 9px;
        bottom: 10.5%;
    }
}

@media only screen and (min-width: 412px) and (min-height: 915px) {
    .subSections_container.open {
        margin-left: 9.5px;
        bottom: 10.5%;
    }

    i {
        font-size: 40px;
    }
}

@media only screen and (min-width: 820px) and (min-height: 1180px) {
    .subSections_container.open {
        margin-left: 9.5px;
        bottom: 10.5%;
    }

    i {
        font-size: 55px;
    }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
    .subSections_container.open {
        margin-left: 9px;
        bottom: 10.5%;
    }

    i {
        font-size: 55px;
    }
}

@media only screen and (min-width: 912px) and (min-height: 1368px) {
    .subSections_container.open {
        margin-left: 9px;
        bottom: 10.5%;
    }

    i {
        font-size: 75px;
    }
}

@media only screen and (min-width: 540px) and (min-height: 720px) {
    .subSections_container.open {
        margin-left: 5px;
        bottom: 10.5%;
    }

    i {
        font-size: 35px;
    }
}

@media only screen and (min-width: 412px) and (min-height: 914px) {
    .subSections_container.open {
        margin-left: 9.5px;
        bottom: 10.5%;
    }

    i {
        font-size: 35px;
    }
}

@media only screen and (min-width: 1024px) and (min-height: 600px) {
    .subSections_container.open {
        margin-left: 9.5px;
        bottom: 12%;
    }

    i {
        font-size: 35px;
    }
}

@media only screen and (min-width: 1280px) and (min-height: 800px) {
    .subSections_container.open {
        margin-left: 12.5px;
        bottom: 11.5%;
    }

    i {
        font-size: 35px;
    }
}
