.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

span.selected {
    color: red;
    transition: 0.5s;
}

.highlighter {
    height: 3px;
    width: 100%;
}

.highlighter.selected {
    background-color: red;
    transition: 0.5s;
}
