@using WSOA.Client.Shared.NavMenus.Main.Components;
@using WSOA.Client.Shared.Resources;
@inherits MainNavSectionComponent

<div @onclick="SelectSection">
    <i class="@ViewModel.ClassIcon @_selectedStateCssClassName"></i>
    <div class="highlighter @_selectedStateCssClassName" />
    <div class="subSections_container @_openSubSectionsCssClassName">
        <MainNavSubSection />
    </div>
</div>
