@using WSOA.Client.Shared.Resources;

<div class="cardLessCoinLoader_mainContainer">
    <img class="cardLessCoinLoader_animation" src="images/loader.gif" />
    <span>@MainLabelResources.LOADING_LABEL</span>
</div>
