@using WSOA.Client.Shared.Resources;

<div class="fullPageLoader_mainContainer">
    <img class="fullPageLoader_animation" src="images/loader.gif" />
    <span>@MainLabelResources.LOADING_LABEL</span>
</div>
