.singlePageForm_mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.singlePageForm_title {
    color: #EDE8DF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    word-wrap: break-word;
    width: 95%;
    height: 15%;
    text-align: center;
}

::deep form {
    background-color: #EDE8DF;
    border-radius: 20px;
    width: 95%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
