@using WSOA.Client.Shared.Forms.Components;
@inherits PageFormContainerComponent

<div class="pageFormContainer_mainContainer">
    <div class="pageFormContainer_fields">
        @Fields
    </div>
    <div class="pageFormContainer_buttons">
        @Buttons
    </div>
</div>
